ConnectionStrings__TransportDb=Host=127.0.0.1;Port=5432;Database=mapcepte;Username=mapcepte;Password=mapcepte_dev
Routing__BaseUrl=http://127.0.0.1:5001
Routing__Profile=driving
BootstrapAdmin__Enabled=false
BootstrapAdmin__Email=
BootstrapAdmin__DisplayName=
BootstrapAdmin__Password=
